<launch>
  <arg name="urdf" default="../description/urdf/pioneer3dx.urdf" /> <!-- URDF file to use. Give regular URDF, not xacro. -->
  <arg name="robotname" default="pioneer3dx" /> <!-- name of robot, should be same as in URDF model -->
  <arg name="world" default="$(find gazebo_ros)/launch/empty_world.launch" />

  <param name="robot_description" textfile="$(arg urdf)" />

  <param name="/use_sim_time" value="true" />

  <include file="$(arg world)" />


  <node name="spawn_$(arg robotname)" pkg="gazebo_ros" type="spawn_model" respawn="false"
      args="-z 0.5 -urdf -param robot_description -model $(arg robotname)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
