<launch>
	<arg name="xacro" />
	<arg name="joint_state_gui" default="true" />
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg xacro)" />
	<param name="use_gui" value="$(arg joint_state_gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_robots_description)/urdf/display_urdf.rviz" required="true" />
</launch>
