<?xml version="1.0"?>

<launch>
  <arg name="world_name" default="worlds/empty.world" /> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <arg name="urdf" />
  <arg name="name" default="pioneer_robot" />
  <param name="robot_description" textfile="$(arg urdf)" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg name)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>

