<?xml version="1.0"?>

<robot name="pioneer-lx-devil" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- TODO share pioneer lx mobile robot components with pioneer-lx urdf by
including macro. -->

  <!-- TODO update Pioneer LX, deck and plinth with real meshes. -->

  <link name="base_link">

    <!-- base_link origin point is center of rotation, on the floor. -->

    <inertial>
      <mass value="57.8" /> <!-- 60 kg minus each wheel -->
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>

    <visual name="base_link_dumb_visual">
      <geometry name="base_link_dumb_visual_geom">
        <box size="0.697 0.5 0.333" />
      </geometry>
      <origin xyz="0 0 0.2" rpy="0 0 0" /> 
      <material name="lx_red_mat">
        <color rgba="0.8 0.1 0.1 1.0" />
      </material>
    </visual>

    <collision name="base_link_dumb_collision">
      <geometry name="base_link_dumb_collision_geom">
        <box size="0.697 0.5 0.333" />
      </geometry>
      <origin xyz="0 0 0.2" rpy="0 0 0" /> 
    </collision>

  </link>


  <!-- right wheel -->

  <link name="r_wheel">

    <inertial>
      <mass value="1.1" />   <!-- kg -->
      <inertia ixx="0.02" ixy="0" ixz="0" iyy="0.02" iyz="0" izz="0.01" />
    </inertial>

    <visual name="r_wheel_dumb_visual">
      <geometry name="r_wheel_dumb_visual_geom">
        <cylinder radius="0.100" length="0.05" />
      </geometry>
      <origin rpy="1.570796 0 0" />
      <material name="lx_grey_mat">
        <color rgba="0.8 0.8 0.8 1.0" />
      </material>
    </visual>
    
    <collision name="r_wheel_collision">
      <geometry name="r_wheel_collision_geom">
        <cylinder radius="0.100" length="0.05" />
      </geometry>
      <origin rpy="1.570796 0 0" />
    </collision>
        
  </link>

  <!-- left wheel -->

  <link name="l_wheel">

    <inertial>
      <mass value="1.1" />   <!-- kg -->
      <inertia ixx="0.02" ixy="0" ixz="0" iyy="0.02" iyz="0" izz="0.01" />
    </inertial>

    <visual name="l_wheel_dumb_visual">
      <geometry name="l_wheel_dumb_visual_geom">
        <cylinder radius="0.100" length="0.05" />
      </geometry>
      <origin rpy="1.570796 0 0" />
      <material name="lx_grey_mat">
        <color rgba="0.8 0.8 0.8 1.0" />
      </material>
    </visual>
    
    <collision name="l_wheel_collision">
      <geometry name="l_wheel_collision_geom">
        <cylinder radius="0.100" length="0.05" />
      </geometry>
      <origin rpy="1.570796 0 0" />
    </collision>
        
  </link>

  <!-- wheel joints. only used in gazebo, real robot velocity is controlled as a unit, not individual wheel motion. -->

  <joint name="r_wheel_joint" type="fixed"> <!--  type="continuous" -->
    <origin xyz="0 0.2 0.1" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="r_wheel" />
  </joint>

  <joint name="l_wheel_joint" type="fixed"> <!-- type="continuous" -->
    <origin xyz="0 -0.2 0.1" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="l_wheel" />
  </joint>


  <!-- Jaco2 arms, using lower upward-pointing mounting option.

       The kinova_description package is contained in the
       Kinovarobotics jaco_ros repository. As of 2/4/2015, you must 
       check out the "jaco2_import" branch.
        https://github.com/Kinovarobotics/jaco-ros/tree/jaco2_import
   -->

  <xacro:include filename="$(find kinova_description)/urdf/jaco2_arm.xacro" />

  <link name="right_arm_mount">
  </link>

  <link name="left_arm_mount">
  </link>

  <xacro:jaco2_arm parent="right_arm_mount" prefix="right_" />

  <xacro:jaco2_arm parent="left_arm_mount" prefix="left_" />

  <joint name="right_arm_attach" type="fixed">
    <child link="right_arm_mount" />
    <parent link="base_link" />
    <origin xyz="-0.020 0.184 1.1384" rpy="0 0 0" />
  </joint>

  <joint name="left_arm_attach" type="fixed">
    <child link="left_arm_mount" />
    <parent link="base_link" />
    <origin xyz="-0.020 -0.184 1.1384" rpy="0 0 0" />
  </joint>

  <!-- "plinth" plus deck (temporary model until we have meshes) -->

  <link name="plinth">
  
    <visual name="plinth_visual">
      <geometry name="plinth_visual_geom">
        <mesh filename="package://amr_robots_description/meshes/pioneer-lx/plinth_hull.stl" />
        <!-- box size="0.18 0.2476 0.99" / -->
        <!-- <origin xyz="-0.02 0 0.867" /> -->
      </geometry>
      <material name="plinth_darkgrey_mat">
        <color rgba="0.2 0.2 0.2 1.0" />
      </material>
    </visual>

    <collision name="plinth_dumb_collision">
      <geometry name="plinth_dumb_collision_geom">
        <mesh filename="package://amr_robots_description/meshes/pioneer-lx/plinth_hull.stl" />
        <!-- box size="0.18 0.2476 0.99" / -->
        <!-- <origin xyz="-0.02 0 0.867" /> -->
      </geometry>
    </collision>

  </link>

  <joint name="plinth_joint" type="fixed">
    <parent link="base_link" />
    <child link="plinth" />
    <origin xyz="-0.02 0 0.867" />
  </joint>
  

 <!-- PTU 
    The flir_ptu_description package is from the flir_ptu repository:
    https://github.com/ros-drivers/flir_ptu
  -->

  <xacro:include filename="$(find flir_ptu_description)/urdf/d46.urdf.xacro" />
  <ptu_d46 name="ptu" />

  <joint name="ptu_base_mount" type="fixed">
    <parent link="plinth" />
    <child link="ptu_base_link" />
    <origin xyz="0 0 0.457" /> <!-- centered on top of plinth. TODO this is a temporary position. note mounting holes for PTU will actually offset a bit, check whether d46.urdf.xacro uses mounting hole, bottom, or center of ptu as its origin. -->
  </joint>


  <!-- kinect -->

  <link name="kinect">
    <visual name="kinect_visual">
      <geometry name="kinect_visual_geom">
        <box size="0.07 0.25 0.065" />
        <origin xyz="0.03 0 0.035" />
      </geometry>
      <material name="kinect_black_mat">
        <color rgba="0.0 0.0 0.0 1.0" />
      </material>
    </visual>
    <collision name="kinect_collision">
      <geometry name="kinect_visual_geom">
        <box size="0.07 0.25 0.065" />
        <origin xyz="0.03 0 0.035" />
      </geometry>
    </collision>
  </link>

  <joint name="kinect_mount" type="fixed">
    <parent link="ptu_mount_link" />
    <child  link="kinect" />
  </joint>

</robot>
  

